.temp
{
	display:flex;
	flex-direction:column;
	margin-top:5px;
	margin-bottom:5px;
	background-color:gray;
}
.temp .one
{
	display:flex;
	flex-direction:column;
	margin-left:250px;
}
.temp .one .dark
{
	width:100px;
	height:30px;
	background-color:brown;
	margin:10px;
}
.temp .one .text
{
	width:80px;
	height:20px;
	background-color:blue;
	margin:10px;
}
.bb
{
	height:320px;
	width:250px;
	background-color:#333333;
	margin:10px;
}
.sb
{
	height:150px;
	width:250px;
	background-color:black;
	margin:10px;
}
.temp .two
{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.temp .two .split1
{
	display:flex;
	flex-direction:column-reverse;
}
.temp .two .split2
{
	display:flex;
	flex-direction:column;
}
.temp .two .split3
{
	display:flex;
	flex-direction:column-reverse;
}
.temp .two .split4
{
	display:flex;
	flex-direction:column;
}




  

